PORT=3006

RMU_API_CORE_URI=http://localhost:3001/v1

RMU_MONGO_ITEMS_URI=mongodb://admin:admin@localhost:27017/rmu-items?authSource=admin

RMU_IAM_JWK_URI=http://localhost:8090/realms/rmu/protocol/openid-connect/certs

RMU_KAFKA_CLIENT_ID=rmu-api-items
RMU_KAFKA_CONSUMER_GROUP_ID=rmu-api-items-consumer
RMU_KAFKA_BROKERS=localhost:9092
RMU_KAFKA_DEFAULT_PARTITIONS=1
